@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

body, html {
    height: 100%;
}

/* Header */
header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000;
}

    header p {
        margin-bottom: 0;
        padding: 0.75rem 1rem;
    }

nav a {
    color: black
}

    nav a:hover {
        color: #0a4870;
        cursor: pointer;
        text-decoration: none;
    }


/* Body Scrolling */
.overlay {
    visibility: visible;
    color: #fff;
    position: fixed;
    top: 35%;
    left: 30%;
    align-items: center;
    text-align: center;
    transition: 0.5s;
    overflow: hidden;
    z-index: 1;
}

    .overlay > p {
        font-family: 'Playfair Display SC', serif;
        font-size: 40px;
    }

    .overlay > h1 {
        transition: 0.5s;
        font-size: 70px;
        font-family: 'Playfair Display SC', serif;
    }

#view {
    margin-top: 50px;
    padding: 4px 10px 4px 10px;
    transition: 0.5s;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-family: Georgia, "Times New Roman", Times, serif;
    border: 1px solid #fff;
    opacity: 1;
}

.overlay > a:hover {
    color: white;
    text-decoration: none;
    border: 1px solid #e79a27;
}

.user-img-container img {
    width: 100%;
}

/* Booking Page - items */
ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

ul .booking-card {
        height: 500px;
        position: relative;
        width: 300px;
        display: flex;
        flex: 0 0 350px;
        flex-direction: column;
        margin: 20px;
        margin-bottom: 30px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        overflow: hidden;
        background-position: center center;
        background-size: cover;
        text-align: center;
        color: #0a4870;
        transition: 0.3s;
    }

ul .booking-card::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(10, 72, 112, 0);
            transition: 0.3s;
        }

ul .booking-card:hover {
            box-shadow: 0 0 11px rgba(33,33,33,.2);
        }

ul .booking-card .book-container {
            height: 200px;
        }

ul .booking-card .book-container .content {
                position: relative;
                opacity: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
                transform: translateY(-200px);
                transition: 0.3s;
            }

ul .booking-card .book-container .content .btn {
                    border: 3px solid white;
                    padding: 10px 15px;
                    background: none;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 1.3em;
                    color: white;
                    cursor: pointer;
                    transition: 0.3s;
                }

 ul .booking-card .book-container .content .btn:hover {
                        background: white;
                        border: 0px solid white;
                        color: #0a4870;
                    }

ul .booking-card .informations-container {
            flex: 1 0 auto;
            padding: 20px;
            background: #f0f0f0;
            transform: translateY(200px);
            transition: 0.3s;
        }

ul .booking-card .informations-container .title {
                position: relative;
                padding-bottom: 10px;
                margin-bottom: 10px;
                font-weight: bold;
                font-size: 1.1em;
            }

ul .booking-card .informations-container .title::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 2px;
                    width: 50px;
                    margin: auto;
                    background: #0a4870;
                }

ul .booking-card .informations-container .price {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 10px;
            }

ul .booking-card .informations-container .price .icon {
                    margin-right: 10px;
                }

ul .booking-card .informations-container .more-information {
                opacity: 0;
                transition: 0.3s;
            }

ul .booking-card .informations-container .more-information .info-and-date-container {
                    display: flex;
                }

ul .booking-card .informations-container .more-information .info-and-date-container .box {
                        flex: 1 0;
                        padding: 15px;
                        margin-top: 20px;
                        -webkit-border-radius: 10px;
                        -moz-border-radius: 10px;
                        border-radius: 10px;
                        background: white;
                        font-weight: bold;
                        font-size: 0.9em;
                    }

ul .booking-card .informations-container .more-information .info-and-date-container .box .icon {
                            margin-bottom: 5px;
                        }

ul .booking-card .informations-container .more-information .info-and-date-container .box.info {
                            color: #ec992c;
                            margin-right: 10px;
                        }

ul .booking-card .informations-container .more-information .disclaimer {
                    margin-top: 20px;
                    font-size: 0.8em;
                    color: #7d7d7d;
                }

ul .booking-card:hover::before {
            background: rgba(10, 72, 112, 0.6);
        }

ul .booking-card:hover .book-container .content {
            opacity: 1;
            transform: translateY(0px);
        }

ul .booking-card:hover .informations-container {
            transform: translateY(0px);
        }

ul .booking-card:hover .informations-container .more-information {
                opacity: 1;
            }

@media (max-width: 768px) {
    ul .booking-card::before {
        background: rgba(10, 72, 112, 0.6);
    }

    ul .booking-card .book-container .content {
        opacity: 1;
        transform: translateY(0px);
    }

    ul .booking-card .informations-container {
        transform: translateY(0px);
    }

        ul .booking-card .informations-container .more-information {
            opacity: 1;
        }
}

.credits {
    display: table;
    background: #0a4870;
    color: white;
    line-height: 25px;
    margin: 10px auto;
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
}

.credits a {
        color: #e3ebf1;
    }

h1 {
    margin: 10px 20px;
}

.book-container .content .btn a {
    color: white;
}

.book-container .content .btn:hover a {
    color: #0a4870;
}

.payment-details .form-control {
    font-size: 15px !important;
}