@model TravelWebsite.Models.Package
@{
    ViewBag.Title = "AddPackages";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title px-4 pt-3 m-0">Add Packages</h3>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                @using (Html.BeginForm("AddPackages", "Admin", FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
                {
                    <table class="table tablesorter">
                        <thead class="text-primary">
                            <tr class="text-center">
                                <th>
                                    Package Name
                                </th>
                                <th>
                                    Destination
                                </th>
                                <th>
                                    Image
                                </th>
                                <th>
                                    Depart
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center">
                                <td>
                                    <select name="Offers" class="py-2 px-3">
                                        <option>Select Offer</option>
                                        <option>3 ngày/ 2 đêm</option>
                                        <option>2 ngày/ 1 đêm</option>
                                        <option>1 tuần</option>
                                    </select>
                                </td>
                                <td>
                                    @Html.TextAreaFor(x => x.Destination)
                                </td>
                                <td class="p-0">
                                    <input type="file" name="image" class="form-control" />
                                </td>
                                <td>
                                    <input type="date" name="depart" class="form-control text-light" />
                                </td>
                                <td>
                                    @Html.TextAreaFor(x => x.Description)
                                </td>
                                <td>
                                    @Html.TextAreaFor(x => x.Price)
                                </td>
                                <td>
                                    <input type="submit" value="Add" class="btn btn-danger" />
                                </td>

</tbody>
                    </table>
                    <h3 class="text-danger d-flex justify-content-center align-items-center m-0 mt-3">@ViewBag.pk</h3>
                }
            </div>
        </div>
    </div>
</div>