
@{
    ViewBag.Title = "_UserLayoutPage";
}

<!DOCTYPE html>
<html>
<head>
    <title>Travel Guide</title>
    <meta name="viewport" content="width=device-width, initial-scale = 1" />
    <meta charset="utf-8" />

    <!--CSS link-->
    <link rel="stylesheet" href="~/Styles/user_css/fontawesome.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Styles/user_css/_user.css" />
    <link rel="stylesheet" href="~/Styles/user_css/jquery-ui.css" />

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
    <header class="bg-light">
        <div class="pt-2" style="width: 100px; margin:0 auto; ">
            <img src="~/Image/logo.png" width=100% />
        </div>
        <nav>
            <div class="d-flex justify-content-center align-content-baseline">
                <p @Url.Action()>Home</p>
                <p>Blogs</p>
                <p>About Us</p>
            </div>
        </nav>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer class="bg-light container p-5" style="max-width: 100%">
        <div class="row py-5 px-3">
            <div class="col-md-7">
                <p>Instagram</p>
                <div>
                    <div class="d-flex" style="width: 150px">
                        <img src="~/Image/dalat.jpg" width=100% />
                        <img class="mx-3" src="~/Image/phanthiet.jpg" width=100% />
                        <img src="~/Image/hochiminh.jpg" width=100% />
                    </div>
                    <div class="d-flex mt-3" style="width: 150px">
                        <img src="~/Image/sapa.jpg" width=100% />
                        <img class="mx-3" src="~/Image/hue.jpg" width=100% />
                        <img src="~/Image/ninhbinh.jpg" width=100% />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <p>Quick Link</p>
                <div class="ql-title">
                    <p>About Us</p>
                    <p>Terms of Service</p>
                    <p>Privacy</p>
                    <p>Contact Us</p>
                </div>
            </div>
            <div class="col-md-2">
                <p><u>Created By</u></p>
                <div>
                    <p>Vo Thi My Nhung</p>
                    <p>Nguyen Vu Quynh Tram</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>