@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to right top, #8f94fb, #4e54c8);
}

html,
body {
    height: 100%;
}

/*Login*/
.centered-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.white-box {
    padding: 1rem 2rem;
    background: white;
    border-radius: 5px;
    width: 25rem;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4e54c8;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-login {
    background-color: #4e54c8;
    color: white;
}