@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to right top, #44ddd0, #27d7a1);
}

html,
body {
    height: 100%;
}

/*Login*/
.error {
    font-size: 18px;
}

.centered-content {
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.white-box {
    width: 25rem;
    padding: 1rem 2rem;

    background: white;
    border-radius: 5px;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;

    color: #44ddd0;

    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-login {
    background-color: #44ddd0;
    color: white;
}

.warning-pw {
    font-size: 12px;
}