
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

<html>
<head>
    <script>
        var place = "";
        window.onscroll = function () { winScroll() };
        function winScroll() {
            var avgHeight = 620;
            var pos = window.pageYOffset;
            if (pos >= 0 && pos < avgHeight) {
                document.getElementById("place").innerHTML = "Ha Noi";
                document.getElementById("view").innerHTML = "View more Ha Noi tours";
                place = "Ha noi";
            }
            else if (pos < avgHeight * 2 - 300) {
                document.getElementById("place").innerHTML = "Sapa";
                document.getElementById("view").innerHTML = "View more Sapa tours";
                place = "Sapa";
            }
            else if (pos < avgHeight * 3 - 300) {
                document.getElementById("place").innerHTML = "Ha Long";
                document.getElementById("view").innerHTML = "View more Ha Long tours";
                place = "Ha Long"
            }
            else if (pos < avgHeight * 4 - 300) {
                document.getElementById("place").innerHTML = "Ninh Binh";
                document.getElementById("view").innerHTML = "View more Ninh Binh tours";
                place = "Ninh Binh";
            }
            else if (pos < avgHeight * 5 - 300) {
                document.getElementById("place").innerHTML = "Hue";
                document.getElementById("view").innerHTML = "View more Hue tours";
            }
            else if (pos < avgHeight * 6) {
                document.getElementById("place").innerHTML = "Hoi An";
                document.getElementById("view").innerHTML = "View more Hoi An tours";
            }
            else if (pos < avgHeight * 7) {
                document.getElementById("place").innerHTML = "Quy Nhon";
                document.getElementById("view").innerHTML = "View more Quy Nhon tours";
            }
            else if (pos > avgHeight * 7.1) {
                document.getElementById("show").style.visibility = "hidden";
            }
            else {
                document.getElementById("show").style.visibility = "visible";
            }
        }
     
    </script>
</head>
<body onscroll="winScroll()">
    <div>
        <div class="overlay" id="show">
            <p id="pos">The best place to visit in</p>
            <!--PLACE-->
            <h1 id="place">Hanoi</h1>
            <a id="view" href="@Url.Action("Packages", "User")">View more</a>
        </div>

        <div class="user-img-container" style="width: 100%">
            <img src="~/Image/hanoi.jpg" id="v1" />
            <img src="~/Image/sapa.jpg" id="v2" />
            <img src="~/Image/halong.jpg" id="v3" />
            <img src="~/Image/ninhbinh.jpg" id="v4" />
            <img src="~/Image/hue.jpg" id="v5" />
            <img src="~/Image/hoian.jpg" id="v6" />
            <img src="~/Image/quynhon.jpg" id="v7" />
        </div>

    </div>
</body>

</html>