@model IEnumerable<TravelWebsite.Models.Package>
@{
    ViewBag.Title = "Packages";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

<h2>Packages</h2>

<div class="main" style="margin-top: 50px;"></div>
<h1 style="text-align:center;margin-top:5rem;">Our packages</h1>

<section class="col-12" style="margin-top:30px;">
    <div class="option d-flex">
        <span>Destination:</span>
        <select name="Packages" class="px-3">
            <option>Ha Noi</option>
            <option>Sapa</option>
            <option>Ha Long</option>
            <option>Ninh Binh</option>
            <option>Hue</option>
            <option>Hoi An</option>
            <option>Quy Nhon</option>
        </select>
    </div>
    
    <div id="Packages" class="row" style="margin-left:100px;">
        @foreach (var item in Model)
        {
            var img = item.Image.Replace(Server.MapPath("~/Images"), "/Images");
            <div class="container block">
                <div class="place">
                    <p>Destination</p>
                </div>
                <div class="row d-flex">
                    <div class="col-4">
                        <div class="img-container">
                            <img src="@img" alt="" width=100%>
                        </div>
                    </div>
                    <div class="col-5">
                        <div>
                            <p>ID</p>
                            <p>Depart</p>
                            <p>offer</p>
                        </div>
                    </div>
                    <div class="col-3 text-right">
                        <p class="price">Price</p>
                        <p class="py-5"></p>
                        <p class="cart-btn text-center">Add to cart</p>
                    </div>
                </div>
            </div>

        }
    </div>
</section>