@using TravelWebsite.Models
@model ChargeViewModel
@{
    ViewBag.Title = "OrderStatus";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Booking Status</title>
    <meta name="viewport" content="width=device-width, initial-scale = 1" />
    <meta charset="utf-8" />
</head>
<body>
    <div style="width: 600px; margin:0 auto; padding: 4.1rem 0">
        <div class="status-container d-flex flex-column justify-content-center align-items-center">
            <div class="my-5" style="width: 400px"><img src="~/Image/awesome.png" alt="booking-status" width=100%></div>
            <div class="px-5 text-center text-dark" style="font-size: 14px;">
                <p>Khách hàng đã thanh toán thành công. </br> Kiểm tra email: @Model.Email để xác nhận.</p>
            </div>
        </div>
    </div>
</body>
</html>